@page
@model InventoryManagement.Pages.Practice.SecureLoginLandingModel
@{
}

@{
    if (@ViewData["LoginMessage"] != null)
    {
        <p>@ViewData["LoginMessage"]</p>
        <a asp-page="DBLogin" asp-route-logout="true">Logout of application -></a>
    }

}
