@page
@model InventoryManagement.Pages.Practice.StoredProcedureDemoModel
@{
}

<table class="table table-bordred table-striped table-hover table-responsive">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Product Cost
        </th>
        <th>
            Product Description
        </th>
    </tr>
    @{
        foreach (var prod in Model.InventoryList)
        {
            <tr>
                <td>@prod.ProductName</td>
                <td>$@prod.ProductCost</td>
                <td>@prod.ProductDescription</td>
            </tr>
        }
    }
</table>
